<header *ngIf="!generalAuxService.hideBars" class="p-2 md:relative md:z-10">
	<!-- Mobile -->
	<div class="md:hidden flex items-center justify-evenly h-3rem cristal-bar">
		<p-button styleClass="p-button-rounded p-button-text" (click)="sidebarStore = true"
			icon="pi pi-bars button-bars"></p-button>
		<p-sidebar #StoreSidebar [(visible)]="sidebarStore" styleClass="max-w-[70%] header-left" [modal]="true">
			<ng-template pTemplate="header">
				<div>
					<a routerLink="/" (click)="sidebarStore = false">
						<img class="max-w-[4rem]" src="assets/logos/logoOnlyMovil.svg" alt="Logo">
					</a>
				</div>
			</ng-template>
			<ng-template pTemplate="content">
				<p-slideMenu [model]="mainMenuItems" [viewportHeight]="600" class="flex justify-center">
					<ng-template pTemplate="backicon" class="flex items-center">
						<fa-icon class="mr-1" [icon]="backIcon" style="color: #000;"></fa-icon>
					</ng-template>
				</p-slideMenu>
			</ng-template>
			<ng-template pTemplate="closeicon">
				<fa-icon [icon]="iconClose" style="color: #000;" ngClass="text-3xl"></fa-icon>
			</ng-template>
		</p-sidebar>

		<div>
			<a routerLink="/">
				<img class="max-w-[12rem]" src="assets/logos/newLogo.svg" alt="Logo">
			</a>
		</div>
		<app-user-buttons></app-user-buttons>
	</div>
	<!-- Desktop -->
	<div class="hidden md:block">
		<p-menubar [model]="mainMenuItems" [autoHide]="true">
			<ng-template pTemplate="start">
				<div class="flex mx-3">
					<a routerLink="/">
						<img class="max-w-[20rem]" src="assets/logos/newLogo.svg" alt="Logo">
					</a>
				</div>
			</ng-template>
			<ng-template pTemplate="menuicon">

			</ng-template>
			<ng-template pTemplate="end">
				<app-user-buttons></app-user-buttons>
			</ng-template>
		</p-menubar>
	</div>

</header>