.grid-parent {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  background-color: #8686865b;
  padding: 1rem;
  border-radius: 1rem;
}

.grid-child1 {
  grid-area: 1/1/3/2;
}
.grid-child2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-child3 {
  grid-area: 2 / 2 / 3 / 3;
}
