<main>
	<div class="mt-5 ">
		<div class="flex flex-col items-center justify-center gap-5">
			<div class="flex items-center gap-3 mt-5">
				<fa-icon class="icon-401" [icon]="faIcons.exclamation"></fa-icon>
				<fa-icon class="icon-401" [icon]="faIcons.four"></fa-icon>
				<fa-icon class="icon-401" [icon]="faIcons.zero"></fa-icon>
				<fa-icon class="icon-401" [icon]="faIcons.one"></fa-icon>
				<span class="font-bold">Unauthorized</span>
			</div>
			<div>
				<p>An error in login has been detected, please try again.</p>
			</div>
			<div>
				<a routerLink="/">
					<img class="img-not-found rounded" alt="401" src="https://httpstatusdogs.com/img/401.jpg" />
				</a>
			</div>
			<div class="mb-5">
				<p class="font-bold text-center">Click on the doggo or wait 5 seconds to be redirected </p>
			</div>
		</div>
	</div>
</main>