<div class="flex gap-2 text-xl items-center">

	<!-- Mobile -->
	<div class="md:hidden">
		<p-sidebar #UserSidebar [(visible)]="sidebarUser" styleClass="w-7" position="right">
			<ng-template pTemplate="header">
				<a routerLink="/" (click)="sidebarUser = false">
					<img class="max-w-[8rem]" src="assets/logos/logoMovil.svg" alt="Logo">
				</a>
			</ng-template>
			<ng-template pTemplate="closeicon">
				<fa-icon [icon]="faIcons.close"></fa-icon>
			</ng-template>
			<!-- User Login | Register -->
			<div class="mt-4 flex flex-col gap-3" *ngIf="!loginDisplay">
				<p-button class="buttons-form" styleClass="w-full" label="Log In" (click)="sidebarUser = false"
					(onClick)="login()">
					<fa-icon class="mr-1" [icon]="faIcons.userLogin"></fa-icon></p-button>
				<p-button class="buttons-form" styleClass="w-full" label="Register" (click)="sidebarUser = false"
					(onClick)="login()">
					<fa-icon class="mr-1" [icon]="faIcons.userRegister"></fa-icon></p-button>
			</div>

			<!-- User Edit | Logout -->
			<div class="mt-4 flex flex-col gap-3" *ngIf="loginDisplay">
				<p-button class="buttons-form" styleClass="w-full" label="Edit profile" (onClick)="editProfile()"
					(click)="sidebarUser = false">
					<fa-icon class="mr-1" [icon]="faIcons.userEdit"></fa-icon></p-button>
				<p-button class="buttons-form" styleClass="w-full" label="Log out" (click)="sidebarUser = false">
					<fa-icon class="mr-1" [icon]="faIcons.userLogout"></fa-icon></p-button>
			</div>
		</p-sidebar>
		<p-button *ngIf="loginDisplay" styleClass="p-button-rounded p-button-text" class="mr-px"
			icon="pi pi-shopping-cart"></p-button>
		<p-button styleClass="p-button-rounded p-button-text" (click)="sidebarUser = true" icon="pi pi-user"></p-button>
	</div>


	<!-- Escritorio -->
	<div class="hidden md:block">
		<!-- User Login | Register -->
		<div class="flex flex-row" *ngIf="!loginDisplay">
			<p-button (click)="login()" styleClass="p-button-rounded p-button-text p-button-lg" label="Log In">
				<fa-icon class="mr-1" [icon]="faIcons.userLogin"></fa-icon>
			</p-button>
			<div class="vertical-separator">
				<span></span>
			</div>
			<p-button styleClass="p-button-rounded p-button-text p-button-lg" label="Register">
				<fa-icon class="mr-1" [icon]="faIcons.userRegister"></fa-icon>
			</p-button>
		</div>

		<!-- User Edit | Logout -->
		<div class="flex flex-row" *ngIf="loginDisplay">
			<div>
				<p-button styleClass="p-button-rounded p-button-text p-button-lg">
					<fa-icon [icon]="faIcons.cart"></fa-icon>
				</p-button>
			</div>
			<p-button (click)="editProfile()" styleClass="p-button-rounded p-button-text p-button-lg"
				label="Welcome! {{userName}}">
				<fa-icon class="mr-1" [icon]="faIcons.gamepad"></fa-icon>
			</p-button>
			<div class="vertical-separator">
				<span></span>
			</div>

			<p-button (click)="logout()" styleClass="p-button-rounded p-button-text p-button-lg" label="Log out">
				<fa-icon class="mr-1" [icon]="faIcons.userLogout"></fa-icon>
			</p-button>
		</div>
	</div>

</div>