.header-link {
  text-decoration: none;
  color: #000;
}

:host ::ng-deep {
  .p-button.p-button-text {
    color: #fff;
  }
  .p-button.p-button-text:enabled:hover {
    background-color: #f887ff !important;
    color: #441e57;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);

    fa-icon {
      color: #441e57;
    }
  }
}

.vertical-separator {
  display: flex;
  align-items: center;
}

.vertical-separator span {
  display: block;
  width: 2px; /* Adjust the width as needed */
  height: 49px; /* Adjust the height to make it bigger */
  background-color: #fff; /* Adjust the color as needed */
  margin: 0 15px;
}

:host ::ng-deep {
  .p-sidebar-header {
    flex-direction: row-reverse;
  }

  .header-right .p-sidebar-header .p-sidebar-icon {
    left: -50px !important;
    margin-left: 0 !important;
  }
}
