/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-orange/theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: inherit;
  background-color: #eeeeee;
}

html *,
html ::after,
html ::before {
  box-sizing: inherit;
}

.buttons-form {
  background-color: #ffc107 !important;
}
